body{
    text-align: center;
}

div{
    margin: auto;
    width: 100px;
    height: 100px;
    background-image: red;
    position: relative;
    animation-name: MovimientoCaja;
    animation-duration: 1s;
    animation-timing-function: initial;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;



}
div:hover{
    animation-play-state: paused;
  
}

@keyframes MovimientoCaja {
    from {left : -400px;}
    to {left:400px;}
    
    
    
}