#a{
    border: 3px solid blue;
    background-color: aqua;
    border-radius: 75px;
}
#b{
    border: 3px solid blue;
    background-color: aqua;
    border-radius: 75px 50px;
}



#c{
    border: 3px solid blue;
    background-color: aqua;
    border-radius: 75px 50px 25px;

}
#d{
    border: 3px solid blue;
    background-color: aqua;
    border-radius: 75px 50px 25px 0px;
}
#e{
    border: 3px solid blue;
    background-color: aqua;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 10px;
}
*{
    text-align: center;
}

